/* head */

/* body */
body {
	font-family: 'FontAwesome', sans-serif;
 	color: #5e5e5e;
 	font: 400 87.5%/1.5em 'Open Sans', sans-serif;
 	background: #fdf8d9;
}

h1 {
   padding-top: 30px;
   text-align: center;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  height:350px;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: Lato;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 16px rgba(255,255,255,0.3);
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  height: 50px;
  width : 140px;
  	margin-left: 95px;
     text-shadow: 1px 1px 2px #A96F00;
     background-image:  -webkit-linear-gradient(top,  #3549b9,  #72b4ea);
     border-color:  rgba(0,  0,  0,  0.25) rgba(0,  0,  0,  0.35) rgba(0,  0,  0,  0.35) rgba(0,  0,  0,  0.25);
     color:  black;
     text-shadow:  0px -1px 0px #c27800;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #20098e, #9472ea);
}

.form-footer {
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}