@charset "UTF-8";

body {
    font-family: "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    background: none !important;
}

.center, .table, .table2, .end {
    display: flex;
    justify-content: center;
}



table {
    width: 90%; 
    border-collapse: collapse;
    margin: 15px auto;
    background: white;
    font-size: 15px;
    border-radius: 6px;
    overflow: hidden;
}


table th, table td {
    padding: 10px 12px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #008000;  
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}


table tr:nth-child(even) {
    background-color: #f7f7f7;
}


table img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}


table a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}



table input[type='button'] {
    padding: 6px 12px;
    border: none;
    background-color: #008000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

table input[type='button']:hover {
    background-color: #00a000;
}

.table table,
.table2 table,
.end table {
    width: 90% !important;  
    margin: 0 auto !important; 
    table-layout: fixed;       
}

table tr {
    height: 80px;
}

