@charset "UTF-8";

span.table{											/*（書式、文字サイズ、上下中央揃え） */
	font-family: 'FontAwesome', sans-serif;
	font-size: x-large;
	valign:middle;
	text-align: center;
}

span.table2{										/*  （書式、文字サイズ、中央揃え） */
	font-size: medium;
	text-align: center;
	valign:middle;
}

div.button-panel{									/* （書式、文字サイズ、太字、右揃え、配置右寄せ）*/
	font-family: 'FontAwesome', sans-serif;
	font-size: large;
	font-weight: bold;
	text-align:right;
	float:right;
}

div.button1{										/* （書式、左揃え、配置左寄せ、左寄せ解除） */
	font-family: 'FontAwesome', sans-serif;
	text-align:left;
	float:left;
	clear:left;
}

div.button2{										/* （書式、左揃え、配置左寄せ、左寄せ解除） */
	font-family: 'FontAwesome', sans-serif;
	text-align:left;
	float:left;
	clear:left;
}

div.end{											/* （書式、中央揃え、直上のテキストから70px改行、配置左右寄せ解除） */
	font-family: 'FontAwesome', sans-serif;
	text-align:center;
	position:relative;
	top:70px;
	clear:both;
}

div.center{											/* （書式、中央揃え、全ページの上下の間隔）  */
	font-family: 'FontAwesome', sans-serif;
	text-align:center;
	line-height: 200%;
}

div.select{											/*  （書式、中央揃え、文字サイズ）*/
	font-family: 'FontAwesome', sans-serif;
	text-align:center;
	font-size: x-large;
	border: 10px;
}

div.font{											/*  （文字色、文字サイズ） */
	color:red;
 	font-size: xx-large;
}

div.footer1{										/* （ 直上のテキストから20pxスペース）*/
	position: relative;
	top: 20px;
}

div.footer2{										/*  （ 文字サイズ、直上のテキストから35pxスペース） */
	font-size: medium;
	position: relative;
	top:35px;
}

div.footer3{										/* （書式、中央揃え、文字サイズ、直上のテキストから15pxスペース、配置左右寄せ解除） */
	font-family: 'FontAwesome', sans-serif;
	text-align: center;
	font-size: 18px;
	position: relative;
	top: 15px;
	clear:both;
}

body {												/* 前ページに適用（背景色、文字書式、背景固定） */
	font-family: 'FontAwesome', sans-serif;
 	font: 400 87.5%/1.5em 'Open Sans', sans-serif;
	background: linear-gradient(-45deg, rgba(127, 255, 212, .8), rgba(255, 250, 250, .8),rgba(0, 255, 0, .8)),url(familymart-iloveimg-converted.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}

h1 {												/*  （配置、文字サイズ） */
	padding: 1em 0;
    font-size: 40px;
}

h2 {												/*  （文字サイズ） */
    font-size: 30px;
}

/* 8月　応急処置のサブヘッダー。タイトル下の太字に使用しています。 */
subh{
	font-size: 22px;
	font-weight:600;
}

/* 8月　ボタンの文字サイズ変更 */
input{
	font-size: 16px;
}

/* 8月　プルダウンメニューの文字サイズ変更 */
select{
	font-size: 18px;
}

/* 8月　商品画像のCSS。getItem.jspで使用。
	配置を%指定することで、ウィンドウサイズの変更におけるスタイルの崩壊を防ぐ */
.relative{
	position: relative;
	width: 100%;
	margin: 0 auto;
}

/* 8月　POP画像のCSS。getItem.jspで使用。
	配置を%指定することで、ウィンドウサイズの変更におけるスタイルの崩壊を防ぐ */
.absolute{
	position: absolute;
	left: 53%;
	top: 53%;
}

.relativeview{
	
}

.absoluteview{
	potision: absolute;
}